// @import 'datatables.net-dt/css/dataTables.dataTables.min.css';
@import 'datatables.net-responsive-dt/css/responsive.dataTables.min.css';

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        sans-serif;
}

* {
    box-sizing: border-box;
}
