@use '_globals';

// div {
//     padding: 10px;
//     border: 1px solid black;
// }

// additional styling
.hidebottomborder {
    border-bottom: none;
}

/* Alignment utilities for DataTables */
$alignments: (
    left: left,
    center: center,
    right: right,
);

table.dataTable {
    @each $name, $align in $alignments {
        th.#{$name}-content,
        td.#{$name}-content {
            text-align: $align;
        }
    }
}

// for layout
div.dt-container div.dt-layout-row {
    margin: 1.5em 0;
}
