@use '_globals';

// div {
//     padding: 10px;
//     border: 1px solid black;
// }

// additional styling
.hidebottomborder {
    border-bottom: none;
}

/* Alignment utilities for DataTables */
table.dataTable th.left-content,
table.dataTable td.left-content {
    text-align: left;
}

table.dataTable th.center-content,
table.dataTable td.center-content {
    text-align: center;
}

table.dataTable th.right-content,
table.dataTable td.right-content {
    text-align: right;
}

// for layout
div.dt-container div.dt-layout-row {
    margin: 1.5em 0;
}

// Fix for NavCategoryItem caret alignment
// .fui-NavCategoryItem__expandIcon {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-inline-start: auto;
// }
